body {
	font-family: "Open Sans" , sans-serif;
}

* {	
	margin: 0;
	padding: 5;
	box-sizing: border-box;
 }

.header{
	text-align: center;
}

nav {
	background: white;
  	padding: 0.5rem 8rem;
  	position: sticky;
  	top: 0;
}

li {
  display: inline-block;
  margin: 10px;
}


.right-nav{
    float: right;
    padding: 4px;

}

 .tuitt-button {
 	width: 50pxS;
	color: white;
	font-weight: bold ;
	background-color: #c2195b;
	font-size: 12px;
	border-radius: 25px;
	border: none;
	padding: .5rem 1.5rem;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg) ;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;

}

.container{
	width: 40%;
  text-align: right;
  float: right;
  color: white
}


.title, .title-2{
	font-family: 'Zilla Slab', serif;

}
.title{
	font-size: 2rem;
	padding: 1rem;
}

.subtitle{
	font-size: 1rem;
	font-weight: normal;
	text-align: right;
}

.container {
  width: 38%;
  text-align: right;
  float: right;
  color: white;
  margin-right: 100px;
}


.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 50vh;

}


.apply-button {
	width: 70pxS;
	color: white;
	font-weight: bold ;
	background-color: #c2195b;
	font-size: 12px;
	border-radius: 32px;
	border: none;
	padding: .5rem 1.5rem;

}

.pre-footer {
	background-color:  #f7fbfb;
	text-align: center;
	padding: 2rem 10rem;
	font-size: 1rem;
	margin-bottom: 0;
}

.book-button {
	color: white;
	font-weight: bold;
  background-color: #336589;
  padding: 10px 2rem;
  border: none;
  border-radius: 20px;
}


.title-2 {
	text-align: center;
	margin: 50px;
}

.intro-description {
	text-align: justify;
	padding: 2rem 10rem;
	font-size: 1rem;
}


footer {
	padding: 1rem;
	text-align: center;
}
